#topmenu {
  background-color: #F5F5F5;
  box-shadow: none;
  border: none;
}

#middlemenu {
  background-color: #F5F5F5;
  box-shadow: none;
  border: none;
}

.bottom-backround {
  background-color: #292929;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}